<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Services</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Apache</string>
			<key>ProcessName</key>
			<string>httpd</string>
			<key>Items</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Start</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.apache2.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Stop</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.apache2.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Restart</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.apache2.plist</string>
							</array>
						</dict>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.apache2.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Edit httpd.conf</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/usr/bin/open</string>
							<key>Arguments</key>
							<array>
								<string>/opt/local/apache2/conf/httpd.conf</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<false/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Edit php.ini</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/usr/bin/open</string>
							<key>Arguments</key>
							<array>
								<string>/opt/local/etc/php5/php.ini</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<false/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show error_log </string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/usr/bin/open</string>
							<key>Arguments</key>
							<array>
								<string>-a</string>
								<string>Console.app</string>
								<string>/opt/local/apache2/logs/error_log</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<false/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show access_log </string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/usr/bin/open</string>
							<key>Arguments</key>
							<array>
								<string>-a</string>
								<string>Console.app</string>
								<string>/opt/local/apache2/logs/access_log</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>MySQL</string>
			<key>ProcessName</key>
			<string>mysqld</string>
			<key>Items</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Start</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.mysql5.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Stop</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.mysql5.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Restart</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.mysql5.plist</string>
							</array>
						</dict>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.mysql5.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Memcache</string>
			<key>ProcessName</key>
			<string>memcached</string>
			<key>Items</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Start</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.memcached.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Stop</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.memcached.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Restart</string>
					<key>Commands</key>
					<array>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>unload</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.memcached.plist</string>
							</array>
						</dict>
						<dict>
							<key>Command</key>
							<string>/bin/launchctl</string>
							<key>Arguments</key>
							<array>
								<string>load</string>
								<string>-w</string>
								<string>/Library/LaunchDaemons/org.macports.memcached.plist</string>
							</array>
						</dict>
					</array>
					<key>SuperUser</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
